body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f7fb;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* background: linear-gradient(135deg, #e262c6, #da20d0); */
}

h1 {
    font-size: 28px;
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ff5945;
    border-radius: 0;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff5945;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #E7040F;
}
